/* Global css */

/* Main css */

@import './index.css';

/* Fonts */
@font-face {
    font-family: 'Segoe Print';
    src: url('../fonts/segoe-print.woff2') format('woff2');
    src: url('../fonts/segoe-print.ttf') format('truetype');
}
@font-face {
    font-family: 'Mont';
    src: url('../fonts/mont.woff2') format('woff2');
    src: url('../fonts/mont.ttf') format('truetype');
}

/* Tailwind */
@tailwind base;
@tailwind components;
@tailwind utilities;
